<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #3a8efc;">
    <a class="navbar-brand" href="/campground">
        <i class="fa fa-coffee" aria-hidden="true"></i>
        Impra
    </a>
    <ul class="navbar-nav">
        <li class="nav-item newdesktop">
            <a class="nav-link" href="/campground/new">Add Impro</a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-md-auto">
            <% if(currentUser == undefined){ %>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Signup</a>
            </li>
            <%}%>
            <% if(currentUser != undefined){ %>
            <li class="nav-item">
                <span class="navbar-text" style="margin-right: 0.4em;font-family:'Dancing Script', cursive ;font-size: 1.2em;position:relative;bottom: 0.2em;">Signed in as <%=currentUser.username%></span>
            </li>
            <li class=”nav-item”>
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <%}%>
            <li class="nav-item newmobile">
                <a class="nav-link" href="/campground/new">Add Impro</a>
            </li>
        </ul>
    </div>
</nav>